name: Deploy to Amazon EC2

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout code
       uses: actions/checkout@v2

     - name: Set up Node
       uses: actions/setup-node@v2
       with:
          node-version: '18.x'
     - name: Install dependencies

       run: npm install -g yarn

     - name: EC2 update
       env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
          KEY_PATH: ${{ secrets.KEY_PATH }}
       run: |
           sudo apt-get update -y
           sudo apt-get install -y sshpass
           echo "${{ secrets.KEY_PATH }}" > new_keypair.pem
           chmod 600 new_keypair.pem

     - name: SSH and Deploy to EC2
       env:
         EC2_USER: ${{ secrets.EC2_USER }}
         EC2_HOST: ${{ secrets.EC2_HOST }}
         KEY_PATH: ${{ secrets.KEY_PATH }}
       run: |
           ssh -i new_keypair.pem -o StrictHostKeyChecking=no ${EC2_USER}@${EC2_HOST} << 'EOF'
           cd /home/ubuntu/srv/Strapi_app/Strapi_let
           git pull
           yarn install
           yarn build
           pm2 start npm --name "Strapi" -- run start
           EOF
